<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <h2>Hey {{name}}! </h2>
  <button onclick="location.href={{url}}">We're glad to have you on board at . </button>
</body>
</html>